:root {
  --bgColor: #108194;
  --textColor: #e7e5e5;
  --linkHoverColor: #E19627;
}

* {
  color: var(--textColor);
  background-color: var(--bgColor);
}

body{
  min-height: 100%;
}

.avatar-img{
  display: flex;
  flex-direction: end;
  position: relative;
  border-radius: 50%;
  max-width: 7rem;
}

.header-name{
  position: absolute;
}

.card{
  padding-top: 1rem;
  background-color: var(--bgColor);
  height: 15rem;
  width: 20rem;
}

.card-body{
  padding-bottom: 0;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.nav-item a{
  color: var(--textColor);
}

.nav-link:focus{
  color: var(--textColor);
}
.nav-link:hover{
  color: var(--linkHoverColor);
}
.nav-item:hover{
  color: var(--linkHoverColor);
}

a {
  color: var(--textColor);
}

a:hover{
  color: var(--linkHoverColor);
}

textarea{
  width: 100%;
  height: 155px;
  background-color: var(--textColor);
}

#floatingInput{
  background-color: var(--textColor);
}

#floatingName{
  background-color: var(--textColor);
}

.footer{
  width: 100%;
  padding-top: 100px;
}

.footer-list{
  width: 90%;
  list-style: none;
  text-decoration: underline;
  justify-content: space-around;
}